html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

/* Navbar */
nav {
  overflow: auto;
}

div .nav-link {
  margin: 0 50px;
  font-size: 1.5rem;
  font-family: "Lobster", cursive;
  color: black;
  text-decoration: none;
}

div .nav-link:hover {
  color: #8bbabb;
}

div .Me {
  font-size: 1.8rem;
  color: #2c786c;
}

div .Me:hover {
  color: #b9cced;
}

div.main {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

/* me */
div.col-me {
  padding: 20% 0 0;
}

img.avatar {
  padding: 0 5%;
  vertical-align: middle;
  width: auto;
  height: auto;
  border-radius: 50%;
}

h1.Name {
  font-size: calc(40px + 2vw);
  margin-top: 1vw;
  font-family: "Satisfy", cursive;
}

p.Intro {
  font-size: calc(15px + 0.2vw);
  margin: 1vw;
  font-weight: 800;
}

/* education */
div#edu > .container {
  padding: 15% 0;
  position: absolute;
}

#edu h2.uni {
  font-weight: 800;
  font-size: calc(25px + 1vw);
}

#edu p.edu-detail {
  font-weight: 600;
  font-size: calc(10px + 0.4vw);
}

#edu div.hover {
  width: auto;
  margin: 0 15%;
  text-align: center;
  transition: transform 500ms ease-in-out;
  transition: 600ms ease-in-out;
}

#edu div.hover:hover {
  background: rgba(117, 114, 114, 0.651);
  color: white;
  /* background: #b9cced; */
  transform: scale(1.1, 1.1);
  border: 1px #eee solid;
}

/* work */
div#work > .container {
  padding: 10% 0 0;
  position: relative;
  left: 28%;
}

#work h2.job {
  text-align: left;
  font-weight: 800;
  font-size: calc(15px + 0.8vw);
  margin: 1% 40% 0 10%;
}

#work p.job-detail {
  text-align: left;
  margin: 1% 40% 0 10%;
  font-weight: 600;
  font-size: calc(10px + 0.4vw);
}

#work h2.skill {
  text-align: left;
  font-weight: 800;
  font-size: calc(15px + 0.8vw);
  margin: 2% 40% 0 10%;
}

#work div.margin {
  margin: 0 40% 0 10%;
}

#work div.col-style {
  text-align: left;
  font-weight: 600;
  font-size: calc(15px + 0.4vw);
}

#work div.first {
  margin-top: 1%;
}

#work pre {
  overflow-x: hidden;
}

/* projects */
div#projects > .container {
  padding: 15% 0 5% 0;
}

#projects .row1 {
  margin: 0 30% 0 20%;
}

#projects h2.project {
  font-weight: 800;
  font-size: calc(15px + 0.8vw);
}

#projects p.project-detail {
  padding: 1% 20% 0;
  font-weight: 600;
  font-size: calc(12px + 0.2vw);
}

/* contact */
div#contactme > .container {
  padding: 15% 15%;
}

#contactme h3.space {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: calc(15px + 0.4vw);
  margin-top: 1.5%;
}

i.socialicon {
  color: black;
}

i.socialicon:hover {
  color: #b9cced;
}

#contactme div.margin {
  margin-top: 3%;
}

/* footer */
footer.footer-section {
  padding: 2% 0 1% 0;
  margin: auto;
  background-color: #f9fcfb;
  text-align: center;
}
footer h6 {
  font-size: calc(8px + 0.4vw);
}

.hrProperty {
  border: dotted;
  color: #979797;
  border-bottom: none;
  border-width: 8px;
  width: 4%;
  margin: 55px auto;
}

@media (max-width: 650px) {
}
